/* General Layout -------------------------*/

body {
    font: 400 1em/1.5 'Lora', cursive, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

/* Header -------------------------*/

.main-header {
    width: 100%;
    margin-top: 40px;
}

.main-header nav {
    margin-bottom: 70px;
}

/* Main -------------------------*/

.profile-image {
    margin-bottom: 30px;
}

header nav li {
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    padding: 10px 0;
}

.main-intro {
    color: rgb(99, 93, 93);
}

.portfolio h2 {
    text-transform: uppercase;
    margin-top: 100px;
}

.portfolio article h2 {
    text-transform: none;
    margin-top: 50px;
}

article {
    margin: 50px 0;
}

article img {
    margin-top: 50px;
}

/* Footer -------------------------*/

footer {
    width: 100%;
    margin-top: 100px;
}

footer h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.back-to-top {
    text-transform: uppercase;
}

footer p {
    width: 80%;
    margin: 0 auto;
    color: rgb(99, 93, 93);
}

.sub-footer {
    color: black;
    margin-top: 70px;
}

footer .top-border {
    border-top: 2px solid lightgrey;
}

.sub-footer span {
    float: left;
    padding: 20px;
}

.sub-footer a {
    float: right;
    padding: 20px;
}

.sub-footer aside {
    display: none;
}

.contact {
    margin: 30px 0;
    line-height: 3;
}

/* Links -------------------------*/

a:link {
    text-decoration: none;
}

a {
    color: black;
}

/* Float Clearfix -------------------------*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries -------------------------*/

@media (max-width: 320px) {
    .profile-image {
        width: 80%;
    }
}

@media (min-width: 768px) {
    /* Header -------------------------*/
    header nav li {
        display: inline-block;
        margin-right: 30px;
    }
    /* Main -------------------------*/
    .portfolio article h2 {
        margin-top: 20px;
    }
    article {
        margin: 30px 0;
    }
    .profile-image,
    .main-intro {
        width: 46.5%;
    }
    article img {
        margin-top: 0;
    }
    /* Floated Columns -------------------------*/
    .profile-image {
        float: right;
    }
    .main-intro {
        float: left;
        text-align: left;
    }
    .marketing {
        width: 46.5%;
        float: left;
    }
    .search {
        width: 46.5%;
        float: right;
    }
    .travel {
        width: 46.5%;
        float: left;
    }
    .map {
        width: 46.5%;
        float: right;
    }
    .photo {
        width: 46.5%;
        float: left;
    }
    .calculator {
        width: 46.5%;
        float: right;
    }
    /* Footer -------------------------*/
    .main-footer {
        width: 72%;
        margin: 0 auto;
    }
    .back-to-top {
        display: none;
    }
    .sub-footer aside {
        display: inline;
    }
    .sub-footer ul {
        margin: 0;
    }
    .sub-footer aside li {
        display: inline-block;
        text-transform: uppercase;
        font-size: small;
        font-weight: 900;
    }
    footer {
        margin-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    /* Header -------------------------*/
    .main-header {
        width: 100%;
    }
    .main-header .container {
        position: relative;
    }
    header h1, nav {
        width: 46.5%;
    }
    header h1 {
        float: left;
        position: absolute;
        right: 60%;
    }
    header nav {
        float: right;
        position: absolute;
        left: 60%;
    } 
}